<div class="col-10 offset-1 about">
  <h1>About Splurty</h1><br/>
<h4>
Splurty, a contributive quote generator, is Keeley's first coding project. To see more of her projects,you can view her <a target="_blank" href="https://splurty-keeley-gibbs.herokuapp.com/">portfolio</a>.
</h4>
<br />

  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'keeley.jpg', class: 'img-fluid' %>
      <div class="caption">Splurty was built by <a target="_blank" href="https://splurty-keeley-gibbs.herokuapp.com/">Keeley</a>, an aspiring web developer.
          If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
      </div>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
    <br/>
    <br/>
      <h2 class="text-center">Keeley Gibbs</h2>
      
      <p>
        Keeley is on track to complete the coding bootcamp through the University of Arizona - continuing professionalism. Through coding bootcamp,
        she is learning what it takes to become career competitive in the web development industry.Keeley is a student at the University of Arizona studying Information Science and eSociety with a graduation date
        of May 2020. She currently works as a math tutor and is actively searching for a career after her graduation in May.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />