<h5>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Celebrities, they're just like us!
</h5>
<br />
<h1><%= @quote.saying %></h1>
<br/>
<h6 class="float-right">- <%= @quote.author %></h6>


<br class="clear" />
<br />
<br />
<br />

